<!DOCTYPE html>
<html>
<head>
	<title>Welcome to taylor-tree!</title>
	{% block stylesheets %}
	{% endblock %}
</head>
<body ng-app="app">
	<div class="container">
		{% block container %}
		{% endblock %}
	</div>
	{% block javascript %}
	{% endblock %}
</body>
</html>